# Ignore junk files specific to OS or editor.
# TODO: Devs who uses these file should set their user-level gitignore file instead.
# See https://git-scm.com/docs/gitignore
.DS_Store
.vscode
.claude

# Python temporary files
__pycache__
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Don't store generated PDF documentation, store source instead
*.pdf

# Persistent working directory for tlssec container
/workdir/*
!/workdir/README.md
!/workdir/notebooks/
