# Ignore junk files specific to OS or editor.
# TODO: Devs who uses these file should set their user-level gitignore file instead.
# See https://git-scm.com/docs/gitignore
.DS_Store
.vscode

# Python temporary files
__pycache__
*.py[oc]
build/
dist/
wheels/
*.egg-info
